/*General START*/
* {
  margin: 0;
  padding: 0
}

.App {
	background: linear-gradient(-45deg, #19e065 , #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}


/*General END*/

/*Keyframe animations START*/
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/*Keyframe animations END*/

/*Header START*/

.headerSection {
  display:  flex;
  justify-content: center;
  background-color: #ffffff60;
  align-items: center;
  justify-content: space-between;
}
.gameInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin: 0 2rem
}
.gameInfo p {
  font-size: 2em;
  font-weight: 700;
  color: #ffffff80;
  height:2.5rem;
  width:2.5rem;
  text-align: center;
  border-radius: 25px;
  border: 3px solid #ffffff50;
}
.gameInfo p:hover {
  border: 3px solid #ffffff90;
}
.gameInfo:hover p {
  color: #ffffff;
}
.scoreboardWrapper {
  margin: 0 2rem;
  color: #ffffff90
}
.headerLogoWrapper {
  width: 42rem;
  user-select: none;
  display: flex;
  
}
.headerLogo {
   
  margin: 0 auto
}

/*Header END*/
/*Main Content START*/
.mainContent {
  width: 62rem;
  margin: 0 auto;
  padding: 1rem 0
}
.helpWrapper {
  display: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: absolute;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  width:100vw;
  height:100vh;
}
.helpCard {
  background-color: rgba(27, 27, 27, 0.8); 
  color: white;
  width:50vw;
  min-height:40vh;
  border-radius:10px;
 }
.helpCard h3 {
  text-align: right;
  font-size: 2em;
  margin-right: 1.5rem;
  user-select: none;
  cursor:pointer
}
.helpCard h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.helpCard p {
  padding:1rem;
}
.gameOverWrap {
  width:100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top:0;
  left:0;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  user-select: none;
 }
.gameOverWrap div {
  color: white;
  text-align: center;
  cursor: pointer;
}
.gameOverWrap h2 {
  font-size: 5em
}
.gameOverWrap p {
  font-size: 1.5em;
  text-align: center;
}
.loadingContainer {
  display: flex;
  justify-content: center;
  user-select: none;
}
.loadingImg {
  width: 12em;
  display: none;
  animation: rotation 1.5s infinite ease-in-out;
}
.currentLevel {
  text-align: center;
  padding-bottom: 2rem;
  user-select: none;
  color: #ffffff90;
  letter-spacing: 2px;
  font-size: 1.4em;
}
.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 4.5rem;
  justify-content: space-between;
 
}
.card {
  width: 11rem;
  min-height: 13rem;
  background-color: #ffffff60;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  word-break: break-word;
}
.card:hover {
  background-color: #ffffff70;
  box-shadow: 0 0 5px 2px white;
  transform: scale(1.02);
}
.card img {
  height: 11rem;
  width:11rem;
  max-width:100%;
  max-height:100%;
  border-radius: 5px 5px 0 0;
}
.card p {
  text-align: center;
  display: block;
  user-select: none;
  color:white;
  text-shadow: 0 0 2px black;
  font-size: 1.2em;
 
}
/*Main Content END*/

@media only screen and (max-width: 576px) and (min-width: 200px)  {
  .headerSection {
    flex-wrap: wrap;
    justify-content: space-around;

  }
  .scoreboardWrapper {
    flex:40%;
    order:2;
    font-size: 3.2em;
    font-size: 0.7em;
   }
  .headerLogoWrapper {
     flex:100%;
    order:1;
    margin: 0 1rem
}
  .headerLogo {
    max-width: 100%;
   }
  .gameInfo {
    order:2;
    margin: 0 2rem
  }
  .helpCard {
    width: 90vw !important;
    min-height: 50vh;
  }
  .gameInfo p {
    height: 2rem;
    width: 2rem;
    font-size: 1.4em;
  }
  .helpCard {
    width: 90vw;
    min-height: 50vh;
  }
  .mainContent {
     width: 11rem
  }
}
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 
  .headerLogo {
    width: 20rem
  }
  .scoreboardWrapper {
    font-size: 0.8em;
    min-width: 7rem;
  }
  .helpCard {
    width: 80vw;
    min-height: 50vh;
  }
  
  .scoreboardWrapper {
    font-size: 0.7em;
    min-width: 7rem;
  }
  .helpCard {
    width: 80vw;
    min-height: 50vh;
  }
  .mainContent {
    width: 31rem
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .headerLogo {
    width: 30rem
  }
  .scoreboardWrapper {
    font-size: 0.8em;
    min-width: 7rem;
  }
  .helpCard {
    width: 80vw;
    min-height: 50vh;
  }
  .mainContent {
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
  .headerLogo {
    width: 30rem
  }
  .scoreboardWrapper {
    font-size: 0.8em;
    min-width: 7rem;
  }
  .helpCard {
    width: 80vw;
    min-height: 50vh;
  }
  .mainContent {
    width: 62rem
  }
}

 